/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
    height: 3rem;
    padding: 0.5rem 1rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

/* middle part */
.middlepart{
    display: grid;
    height: 30rem;
    grid-template-columns: 1fr 3fr 1fr;
}

.middle1{
    border: 1px solid black;
}

.middle2{
    border: 1px solid black;
}

.middle3{
    border: 1px solid black;
}



/* lower part css */
.lowerpart{
    display: grid;
    height: 20rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.lower1{
    border: 1px solid black;
}
.lower2{
    border: 1px solid black;
}
.lower3{
    border: 1px solid black;
}