body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  height: 100%;
}

.container {
  max-width: 90%;
  border: 2px solid rgb(62, 171, 207);
  padding: 0; /* Remove default padding */
}

.card-upeer-header {
  padding-left: 25px;
  margin-left: -15px; /* Offset Bootstrap's default negative margin */
  margin-right: -15px; /* Offset Bootstrap's default negative margin */
}

.card {
  border: none;
}

.card.bg-primary {
  background-color: rgb(62, 171, 207) !important;
  border-radius: 0; /* Remove border-radius to ensure it touches the edges */
}

.rgb-link {
  text-decoration: underline dotted !important; /* Force removal */
  display: inline-block; /* Ensures block elements inside work properly */
  color: inherit; /* Keeps original text color */
}



.card.bg-primary h1 {
  margin: 0;
  font-size: 3rem;
}

.card-body {
  padding: 2rem;
  text-align: left; 
}

.card-title {
  font-size: 3rem;
  text-decoration:dotted underline;
  color: #333;
}

.card-subtitle {
  font-size: 2rem;
  font-weight: bold;
  color: #666;
}

.text-center {
  text-align: center;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.footer {
  background-color: #222; /* Matches Bootstrap 3 navbar-inverse */
  color: #9d9d9d; /* Muted text */
  padding: auto 0;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 30%;
  height: auto;
  bottom: 0;
}

.footer-style{
  margin-top: 30px;
}
