/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    padding: 0.5rem 1rem;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff9800;
}

.gradient-custom {
    background: #6a11cb;
  
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  
    background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  }

/* Middle Part */
.middlepart {
    height: auto;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card {
    width: 100%;
}

/* Lower Part */
.lowerpart {
    height: auto;
    grid-template-columns: 1fr;
    gap: 1rem;
}



/* Responsive Design */
@media (min-width: 768px) {
    .middlepart {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .lowerpart {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        justify-content: center;
    }

    .middlecard {
        height: auto;
    }

    .profile_logo {
        margin-left: auto;
        margin-right: auto;
    }
}
